altgraph==0.17
asgiref==3.2.5
astroid==2.3.3
Click==7.0
colorama==0.4.3
css==0.1
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.1.6
django-bootstrap-assets==0.0.3
django-bootstrap-form==3.4
dnspython==1.16.0
future==0.18.2
isort==4.3.21
lazy-object-proxy==1.4.3
LEPL==5.1.3
mccabe==0.6.1
mysql-connector==2.2.9
mysql-connector-python==8.0.19
pefile==2019.4.18
Pillow==7.0.0
protobuf==3.6.1
PyInstaller==3.6
pylint==2.4.4
PyMySQL==0.9.3
python-decouple==3.3
python-dotenv==0.12.0
pytz==2019.3
pywin32-ctypes==0.2.0
shiboken2==5.14.1
six==1.14.0
sqlparse==0.3.1
static3==0.7.0
validate-email==1.3
wrapt==1.11.2
